<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mySiteSettings">
			<section name="folderName" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="commonImageName" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="miscellaneous" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<!-- section name="general" type="System.CustomConfigSection.ConfigSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /-->
			<!-- section name="siteInfo" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /-->
		</sectionGroup>
		<sectionGroup name="mySiteInfo">
			<section name="siteInfo" type="HalfTen.Configuration.CustomConfigSection.ConfigSectionHandler, Configuration" />
		</sectionGroup>
		<sectionGroup name="mySiteAuthorization">
			<section name="modifyMenu" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<!-- application specific settings -->
	<appSettings>
		<add key="ConnectionString" value="server=VCNSQL2\VCNSQL2$I2;uid=webbpc;password=Bossman123;database=bridletown_data;Connection Lifetime=30" />
		<add key="FCKeditor:BasePath" value="~/FCKeditor/" />
		<add key="FCKeditor:UserFilesPath" value="/UserFiles/" />
  </appSettings>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
		<compilation debug="false" defaultLanguage="c#" />
		<!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
       <authentication mode="Forms">               
          <forms name="CommerceAuth" loginUrl="index.aspx" protection="All" path="/"></forms> 
       </authentication> 
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<browserCaps>


		<!-- 
		Name:		BrowserCaps update for modern browsers, http://slingfive.com/pages/code/browserCaps/
		Author:	Rob Eberhardt, http://slingfive.com/
		History:
			2004-11-19	improved detection of Safari, Konqueror &amp; Mozilla variants, added Opera detection
			2003-12-21	updated TagWriter info
			2003-12-03	first published
		-->

			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
				browser=Gecko
				<filter>
					<case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
						type=${type}
					</case>
					<case> <!-- plain Mozilla if no VendorProductToken found -->
						type=Mozilla
					</case>
				</filter>
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=0${major}
					minorversion=0${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>

			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
				browser=AppleWebKit
				version=${version}
				majorversion=0${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
					type=${type}
				</case>
			</case>

			<!-- Konqueror //-->
			<case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
				browser=Konqueror
				version=${version}
				majorversion=0${major}
				minorversion=0${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>

			<!-- Opera //-->
			<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
				<filter match="[7-9]" with="${major}">
					tagwriter=System.Web.UI.HtmlTextWriter
				</filter>
				<filter>
					<case match="7" with="${major}">
						<filter>
							<case match="[5-9]" with="${minorint}">
								ecmascriptversion=1.5
							</case>
							<case>
								ecmascriptversion=1.4
							</case>
						</filter>
					</case>
					<case match="[8-9]" with="${major}">
						ecmascriptversion=1.5
					</case>
				</filter>
			</case>


		</browserCaps>	
	</system.web>
	<mySiteSettings>
		<folderName>
			<add key="CommonImage" value="images/common/" />
			<add key="ImageBank" value="images/bank/" />
			<add key="ImageBankThumbnail" value="images/bankthumbnail/" />
			<add key="MenuCategory" value="images/menucategory/" />
			<add key="MenuItem" value="images/menuitem/" />
			<add key="Administrator" value="admin/" />
			<add key="Lang" value="lang/" />
			<add key="Forum" value="images/forum/" />
			<add key="Css" value="css/" />
		</folderName>
		<commonImageName>
			<add key="ThumbnailNoImage" value="thumbnailnoimage.gif" />
			<add key="FlashIcon" value="flashicon.gif" />
			<add key="SmallImageIcon" value="smallimage.gif" />
			<add key="Active1" value="active1.gif" />
			<add key="InActive1" value="inactive1.gif" />
			<add key="Up1" value="up1.gif" />
			<add key="Down1" value="down1.gif" />
		</commonImageName>
		<miscellaneous>
			<add key="WebsiteUrl" value="http://webbpc.easycgi.com/" />
			<add key="ImageBankPrefixName" value="imb_" />
      <add key="MainImageWidth" value="457" />
      <add key="MainImageHeight" value="149" />
      <add key="ImageThumbnailWidth" value="0" />
			<add key="ImageThumbnailHeight" value="60" />
			<add key="BannerImageCategoryID" value="2" />
			<add key="MenuCategoryPrefixName" value="mc_" />
			<add key="MenuPrefixName" value="menu_" />
			<add key="MenuSwapPrefixName" value="menuswap_" />
			<add key="PatternAName" value="patternc.xml" />
			<add key="EventCalendarID" value="80" />
			<add key="EventListID" value="79" />
      <add key="EventCategoryID" value="1" />
      <add key="NewsCategoryID" value="2" />
			<add key="MapNewsID" value="95" />
      <add key="AdminRoleID" value="4" />
			<add key="EventListUrl" value="index.aspx?MenuCategoryID=15&amp;selection=0&amp;NewsID=79&amp;itemselection=5" />
      <add key="SignUpReminderEmail" value="bridletowne@gmail.com"/>
      <add key="SmtpAuthenticate" value="1"/>
      <add key="SmtpAuthenticateSendUsername" value="jackhwl@bridletowne.com"/>
      <add key="SmtpAuthenticateSendPassword" value="bridletown"/>
      <add key="SmtpServer" value="webbpc.easycgi.com"/>
      <add key="SmtpServerPort" value="587"/>
		</miscellaneous>
	</mySiteSettings>
	<mySiteInfo>
 		<siteInfo>
			<general> 
				<siteId>10001</siteId> 
				<siteName>BridleTown Park Church</siteName> 
				<siteShortDomain>bridletowne.com</siteShortDomain> 
				<siteDomain>http://www.bridletowne.com</siteDomain> 
				<siteFrontLangID>1</siteFrontLangID> 
				<siteAdminLangID>1</siteAdminLangID> 
			</general> 
			<language>
				<lang>
					<id>1</id>
					<showname>English</showname>
					<filename>en.xml</filename>
					<active>1</active>
					<sort>3</sort>
				</lang>
				<lang>
					<id>2</id>
					<showname>Chinese (Simplified)</showname>
					<filename>zh_CN.GB2312.xml</filename>
					<active>0</active>
					<sort>1</sort>
				</lang>
				<lang>
					<id>3</id>
					<showname>Chinese (Traditional)</showname>
					<filename>zh_TW.Big5.xml</filename>
					<active>0</active>
					<sort>9</sort>
				</lang>
			</language>
 		</siteInfo>
	</mySiteInfo>
	<mySiteAuthorization>
		<modifyMenu>
			<add key="SubCategory" value="false" />
			<add key="InnerName" value="false" />
			<add key="Content" value="false" />
			<add key="CategoryImage" value="true" />
			<add key="Image" value="false" />
			<add key="SwapImage" value="false" />
		</modifyMenu>
	</mySiteAuthorization>
	<location path="admin/admin.aspx">
      <system.web>
         <authorization>
            <allow users="jack,mikenorth" />
            <deny users="?" />
         </authorization>
      </system.web>
	</location>
</configuration>
